<style>
    .header{
            text-align: center;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%) 
        }
    .header h1, h3{
        color: white;
    }

</style>
<div class="header">
    <h1>FORGOT PASSWORD</h1>
    <h3>Coming soon</h3>
</div>
