<style>
    .heading{
        margin-top: 40px;
        text-align: center;
    }

    .course{
        margin: auto;
    }

    .card.card.mb-3{
        padding: 20px;
    }
    .card.mb-3:hover{
        transform: scale(1.03);
        transition: .6s all ease;
    }
    .bubbles{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        top: 0;
        left: 0;
    }
  
</style>
<body>
<div class="heading">
    <h1 class="display-5" style="color:white">Shop Courses Here!</h1> 
    <hr class="my-4" style= 'margin-top: 10px;'>
</div>
        <% course.forEach(course => { %>
        <div class="course">
          <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/course1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= course.title %> </h5>
                    <p class="card-text" style="text-align: justify;"><%= course.description %></p>
                    <p class="card-text" name = "technologies"><small class="text-muted"><%= course.technologies %> </small></p>
                    <hr>
                    <p class='card-text'><%= course.price %> </p>
                    <button type="button" style="float:right; margin-bottom: 10px;" class="btn btn-success btn-sm">Add to Cart</button>
                  </div>
                </div>
              </div>
          </div>
          <hr class="my-4" style='width: 80%;'>
          <% }) %>
          <br>
          <br>
  </body>
