<style>
    .jumbotron{
        color: white;
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
    }
    h1.display-3{
            color: white;
    }
    #button{
            width: 15%;
            float: left;
    }

</style>
<div class="jumbotron">
    <h1 class="display-3">Hello!</h1>
    <p class="lead">This is a simple yet secure REST API built with NodeJS; utilizing PassportJS for authentication. The backend is supported by MongoDB</p>
    <hr class="my-4">
    <p>To get started on this website, please select one of the following options below.</p>
    <p class ="lead">
        <a id="button" class="btn btn-primary btn-lg" href="/users/login" role="button">Login</a>
        <a id="button" class="btn btn-secondary btn-lg" href="/users/register" role="button">Register</a>
    </p>
</div>
